# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables (CRITICAL)
.env

# IDE files
.idea/

# OS files
.DS_Store
Thumbs.db

# Data files
backend/data/*.db

# Starting front end
# Python -m http.server 5500
# Starting back end
# uvicorn backend.app.main:app